

.title{
    color: blue;
    font-size:20px;
    text-align: center;
    padding: 20px 0;
}
.productName{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: small;

}
.product-image {
    width: 100%;
    max-width: 100%;
    transition: all 0.5s;
    /* border: 5px solid white; */
    height: 30vh;
}
.products .product .imgProduct {
    width: 35vh; /* PONER 300PX */
    border-radius: 5px;
    border: 2px solid transparent; /* Borde transparente */
    animation: changeBorderColorr 3s infinite;
}
@keyframes changeBorderColorr {
    0% {
      border-color: white;
    }
    25% {
      border-color: black;
    }
    50% {
      border-color: white;
    }
    75% {
      border-color: black;
    }
    100% {
      border-color: white;
    }
  }
  
  

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.product{
    padding: 10px;
}