<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error404.css">
    <title>Error</title>
</head>
<body>  
    <div class="not-found">
        <div class="image">
    
    
</div>
    <h1>Ups... Parece que esta pagina no existe!!</h1>
    <p >Te invitamos a seguir explorando nuestros productos<p>
    <div class="button">
    <a href="/"><button>Arcade Gaming</button></a>
</div>
</div>
    
</body>
</html>