<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ICONO DE LA PESTAÑA (LOGUITO) -->
    <link rel="icon" href="/images/GalagaShip.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- ICON -->
    <script src="https://kit.fontawesome.com/895ffaabf9.js" crossorigin="anonymous"></script>
    <!-- title -->
    <title>Arcade Gaming</title>
</head>

<body>


    <header>
        <div class="header">

            <div class="logoDiv">
                <img class="logo" src="/images/GalagaShip.png" alt="logo">
            </div>

            <div class="guidesDiv">
                <div class="guides"><a href="/">Homepage</a></div>
                <div class="guides"> <a href="/products">Products</a></div>
                <div class="guides"><a href="/user/profile">Profile</a></div>



                <!-- <div class="buscarIconDiv">
                    <form action="/search" method="POST"></form>
                    <div class="buscar"><input class="inputSearch" type="text" name="buscar" placeholder="Buscar">
                    </div>
                    <i class="fa fa-search"> </i>
                </div> -->
            </div>
        </div>
    </header>
    <section class="mid">
        <div class="title">
            <h1>Wellcome To The Arcade</h1>
        </div>
        <div class="mainImageDiv">
            <img src="/images/SpaceInvader.png" alt="Space Invader" class="mainImage ">
        </div>

        <div class="sesion">
            <div class="loginDiv">
                <a class="login" href="/user/login">Loguearse</a>
            </div>
            <div class="registerDiv">
                <a class="register" href="/user/register">Registrarse</a>
            </div>
        </div>
    </section>
</body>

</html>