<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- ICONO DE LA PESTAÑA (LOGUITO) -->
    <link rel="icon" href="/images/GalagaShip.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />
    

    <!-- ICON -->
    <script src="https://kit.fontawesome.com/895ffaabf9.js" crossorigin="anonymous"></script>
    <!-- title -->
    <title>Arcade Gaming</title>
</head>

<body>


    <%- include("./partials/header",{titulo:"home"}) %>
    <section class="mid">
        <div class="title">
            <h1>Wellcome To The Arcade</h1>
        </div>
        <div class="mainImageDiv">
            <img src="/images/SpaceInvader.png" alt="Space Invader" class="mainImage ">
        </div>

        <div class="sesion">
            <div class="loginDiv">
                <a class="login" href="/user/login">Loguearse</a>
            </div>
            <div class="registerDiv">
                <a class="register" href="/user/register">Registrarse</a>
            </div>
        </div>
    </section>
</body>

</html>