<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
</head>
<header><%- include("./partials/header", { titulo: "Profile" }) %></header>
<body>
    <a href="/">Home</a>
    <%= user.email  %>
    <%= user.name %>
    <form action="/user/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

    <form action="/user/deleteUser/<%= user.id %>" method="GET">
    <button type="submit">Detele Account</button>
    </form>
</body>
</html>