<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/header.css" />
     <!-- SCRIPTS JAVASCRIPT -->
     <script src="/js/header-buttons.js"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
<header>
    <div class="header">
        <div class="logoDiv">
            <img class="logo" src="/images/GalagaShip.png" alt="logo" />
        </div>

        <div class="guidesDiv">
            <div class="guides homePage"><a href="/" >Homepage</a></div>
            <div class="guides productPage"><a href="/products">Products</a></div>
            <div class="guides profilePage"><a href="/user/profile">Profile</a></div>
            <div class="guides cartPage"><a href="/products/carrito">Cart</a></div>

            <search></search>
            <div class="buscarIconDiv">
                <form class="seeker" action="/products/search" method="POST">
                    <div class="buscar">
                        <input class="inputSearch" type="text" name="seeker" placeholder="Buscar" /> <!-- Ojo con el name seeker, ya que en el controlador lo llamamos asi -->
                    </div>
                </form>
               
            </div>

            
        </div>
    </div>
</header>
</html>